
body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100vw;
}

h4{
    font-size: 14px;
    color:white;
    text-align: center;
    
}

.leaflet-popup-content{
    background: rgb(1, 24, 24);
    color:white;
    margin: 1px 0 0 ;
    border-radius: 10px;
    border: 0 solid rgb(241, 187, 38);
    padding: 5px;
    width: 190px;
}
.leaflet-popup-content-wrapper{

  border:2px solid rgb(226, 195, 16);
  background-color: rgb(0, 14, 11);
}

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: #9a9e9bcc;
    border-radius: 8px;
    border:1px solid #d32121;
    line-height: 24px;
    color: rgb(250, 245, 245);
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(248, 241, 241);
  }
  
  .legend i {
    width: 25px;
    height: 18px;
    border-radius: 2px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.9;
  }

  .Title{
      border:0.5px solid red;
      width: auto;
      height: auto;
      text-align: center;
      margin-top: -60px;
      background-color: rgb(13, 52, 63);
      opacity: 0.6;
      color: white;
      border-radius: 10px;
  }
  
  .container{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .leaflet-control-attribution{
    border-top:0.1px solid red;
    border-left:0.1px solid red;
    border-radius: 3px;
  }

  .leaflet-control-scale-line{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 20px;
    text-align: center;
  }

  .leaflet-container {
    background-color: rgb(217, 226, 235);
  }

  .metadata{
    background-color: rgb(217, 226, 235);
    padding: 20px;
    border:1px solid #e76d08;
  }