
body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100vw;
}

h4{
    font-size: 14px;
    color:white;
    text-align: center;
}

h5{
  text-align: center;
  font-size: 23px;
}
.leaflet-popup-content{
    background: rgb(1, 24, 24);
    color:white;
    margin: 1px 0 0 ;
    border-radius: 10px;
    border: 0 solid rgb(241, 187, 38);
    padding: 5px;
    width: 170px;
    height: 95px;
}
.leaflet-popup-content-wrapper{

  border:2px solid rgb(226, 195, 16);
  background-color: rgb(0, 14, 11);
}

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: #777a78cc;
    border-radius: 8px;
    border:1px solid #d32121;
    line-height: 24px;
    color: rgb(250, 245, 245);
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(248, 241, 241);
  }
  
  .legend i {
    width: 25px;
    height: 18px;
    border-radius: 2px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 1;
  }

  .leaflet-left {
    width: 100%;
  }
  
  #info_text {
    width: 100%;
  }

  .Title {
    margin-top: -60px;
    display: flex;
    justify-content: center;
  }
  
  .Title h2 {
    border:1px solid red;
    background-color: rgb(28, 31, 31);
    opacity: 0.6;
    color: white;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;

  }
  
  .container{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .leaflet-control-attribution{
    border-top:0.1px solid red;
    border-left:0.1px solid red;
    border-radius: 3px;
  }

  .leaflet-control-scale-line{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 20px;
    text-align: center;
  }

  .leaflet-container {
    background-color: rgb(217, 226, 235);
  }

  .metadata{
    background-color: rgb(217, 226, 235);
    padding: 20px;
    border:1px solid #e76d08;
  }

  .electionwebsite{
    text-decoration: none;
  }

  .candiatephoto{
    border: 0.1px solid rgb(243, 39, 12);
    border-radius: 50%;
    height: 50px;
    width: 48px;
    box-shadow: 0px 0px 7px 1px #616159;
  }

  .candidateslist a{
    text-decoration: none;
  }
